html{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html, body{
    background-image: url("ELCAP_HALFTONE1.svg");
    background-size: cover;
    padding: 0 0 0 0;
    text-align: left;
    background-color: #04172E;

}

header{
    background-color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.9em;

    color: #04172E;
}


.container{
    position: relative;
}

.hero-textbox{
  position: absolute;
  top: 100px;
  left: -150px;
  background-color: white;
  color: black;
  padding: 40px 40px 40px 100px;
  width : 500px;
  height: auto;
  margin-top: 60px;
  margin-left: 200px;
  max-width: 400px;

}

.background-image{
    background-image: url("ELCAP_HALFTONE 1.svg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 1000px; /* You must set a specified height */
    width: 1315px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin-top: 40px;
    margin-left: 200px;
    
  }

h2 {
    font-size: medium;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-kerning: normal;
    letter-spacing: 0.9em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px 0 20px 0;
    padding: 0 0 0 0;
    letter-spacing: 0.07em;
    line-height: 82px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.2em;
    text-align: left;
    
    }
     
p { 
    font-size: small;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin: 40px 0 80px 0;
    max-width: 400;
   align-items: flex-end;

}

.grade{
    margin-bottom: 200px;
}
]